section {
  min-height: calc(-58px + 100vh);
  margin-top: 90px;
  color: #2c3e50;
}
div[logo]::after,
div[logo]::before {
  content: "";
  display: inline-block;
  background-color: #2c3e50;
  height: 4px;
  width: 80px;
}
.bg-main {
  background-color: #1abc9c;
}
