<section class="d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-uppercase fw-bold">conatct section</h1>
  <div logo class="position-relative pb-3">
    <i class="mx-3 fa-solid fa-star"></i>
  </div>
  <div class="w-50 p-3 mx-auto mt-5">
    <input
      type="text"
      placeholder="userName"
      name="name"
      class="form-control border-0 border-bottom py-3 focus-ring focus-ring-light"
    />
    <input
      type="number"
      placeholder="userAge"
      name="age"
      class="form-control border-0 border-bottom mt-5 py-3 focus-ring focus-ring-light"
    />
    <input
      type="email"
      placeholder="Email"
      name="email"
      class="form-control border-0 border-bottom mt-5 py-3 focus-ring focus-ring-light"
    />
    <input
      type="password"
      placeholder="userPassword"
      name="password"
      class="form-control border-0 border-bottom mt-5 py-3 focus-ring focus-ring-light"
    />
    <button class="bg-main btn mt-4 text-white">send Message</button>
  </div>
</section>
