<nav
  class="navbar navbar-expand-lg fixed-top bg-body-tertiary text-uppercase py-2"
>
  <div class="container">
    <a class="navbar-brand" routerLink="startframework">start Framework</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item pe-3">
          <a
            class="nav-link"
            routerLink="about"
            routerLinkActive="bg-main  rounded-3"
            >about</a
          >
        </li>
        <li class="nav-item pe-3">
          <a
            class="nav-link"
            routerLink="portfolio"
            routerLinkActive="bg-main  rounded-3"
            >portfolio</a
          >
        </li>
        <li class="nav-item pe-3">
          <a
            class="nav-link"
            routerLink="contact"
            routerLinkActive="bg-main  rounded-3"
            >contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
